.container {
    margin: 1em;
}

.visibleButton {
    background-color: deeppink;
    border-radius:28px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    margin-left: 4px;
}
.visibleButton:hover {
    background-color: hotpink;
}
.visibleButton:active {
    position:relative;
    top:1px;
}

.inputPassword {
    background-color: lightpink;
    border-radius:28px;
    display:inline-block;
    cursor:pointer;
    color: #282c34;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}